@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.reduced_padding {
    padding: 1px !important;
}

.fixed_font {
    font-family: 'Roboto Mono', monospace;
    font-size: 12pt;
}

#top_bar {
    position: fixed;
    top: 0;
    background: #eee;
    width: 100%;
    padding: 5px;
}

.top_bar_form {
    font-size: 12px;
}

.top_bar_form input {
    width: 128px;
}

.pages {
    width: 100%;
    text-align: center;
}