@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.reduced_padding {
    padding: 1px !important;
}

.fixed_font {
    font-family: font-family: 'Roboto Mono', monospace;
    font-size: 12pt;
}